{% extends "NathanCakeBundle::layout.html.twig" %}

{% block mainContent %}
    <div class="jumbotron">
        <div class="container">
            <h1>Marking Stuff!</h1>

            <p class="lead">{{ content | upper | reverse | lower | reverse }}{{ injection }}</p>

            <p><a class="btn btn-lg btn-success" href="###">get start today!</a></p>
        </div>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}